{% extends 'admin/admin-home.html' %}
{% load static%}
{% block content %}
    <div class="page-content"  >
        <div class="container clear-fix form-bg" >
            <div class="grid-col-row">
            <div class="grid-col grid-col-9" > 
            <p>Are you sure you want to delete "{{competition}}"</p>
            <form action="{% url 'delete-comp' competition.id %}" method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <div>
                <input type="submit" name = "Confirm" style="margin-top:10px;"
                           class="cws-button bt-color-1 border-radius alt icon-right">
                </div>
                <div style="marin-top :20;">
                <a href = "{%url 'home'%}" style="margin-top:10px;"
                           class="cws-button bt-color-4 border-radius alt icon-right">Cancel</a>
                </div>
            </form>
            </div>
            </div>
            </div>
            </div>


{% endblock content%}