{% extends 'willyWeb/base.html' %}
{% block content %}
<!-- content -->
<div class="page-content">
  <div class="container clear-fix">
    <div class="grid-col-row">
      <div class="grid-col grid-col-9">
        <!-- main content -->
        <main>
          <section>
            <h2>{{competition.name}}</h2>
            <div class="picture">
              <div class="hover-effect"></div>
   
              <img
                src={{competition.cover_image.url}}
                data-at2x={{competition.cover_image.url}}
                alt
              />
            </div>
            <!-- woocommerce tabs -->
            <!-- tabs -->
            <div class="tabs">
              <div class="block-tabs-btn clear-fix">
                <div class="tabs-btn active" data-tabs-id="tabs1">
                  Description
                </div>
                <div class="tabs-btn" data-tabs-id="tabs2">
                  Entery Requirements
                </div>
                <div class="tabs-btn" data-tabs-id="tabs3">Apply</div>
              </div>
              <!-- tabs keeper -->
              <div class="tabs-keeper">
                <!-- tabs container -->
                <div class="container-tabs active" data-tabs-id="cont-tabs1">
                  <h3>Description</h3>
                  <p>
                    {{competition.long_description |linebreaks}}
                  </p>
				     <h3> </h3>
                  
                </div>
                <!--/tabs container -->
                <!-- tabs container -->
                <div class="container-tabs" data-tabs-id="cont-tabs2">
                  <h3>Requirements</h3>
				  <p>
				  <ul class="check-list">
                        <li>Minimum age: {{competition.min_age}}</li>
                        <li>
							Maximum age: {{competition.max_age}}
                        </li>
                      </ul>
					  </p>
                  <div class="columns-row">
                    <div class="columns-col columns-col-6">
                      
                    </div>
                  </div>
                </div>
                <!--/tabs container -->
				 <!-- tabs container -->
                <div class="container-tabs" data-tabs-id="cont-tabs3">
                  <h3>Apply</h3>
                  <div class="columns-row">
                    <div class="columns-col columns-col-6">
						<a href = {% url 'Apply-pk' competition.id %} style="background-color : #dc3545; border-color:#dc3545; color:#fff; padding:10px">Apply now</a>
                    </div>
                  </div>
                </div>
                <!--/tabs container -->
              </div>
              <!--/tabs keeper -->
            </div>
            <!-- /tabs -->
          </section>
          <hr class="divider-color" />
          
        </main>
        <!-- / main content -->
      </div>
    </div>
  </div>
</div>
<!-- / content -->
{% endblock content %}