{% extends 'willyWeb/base.html' %} {% load static %} {% block content %}

<!-- revolution slider -->
<div class="tp-banner-container">
  <div class="tp-banner-slider">
    <ul>
      <li data-masterspeed="700">
        <img src={% static 'willyWeb/img/Slideshow/Ev3/EV3-course-1.jpg'%} alt>
        <div
          class="tp-caption sl-content align-left"
          data-x="['left','center','center','center']"
          data-hoffset="20"
          data-y="center"
          data-voffset="0"
          data-width="['720px','600px','500px','300px']"
          data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
          data-transform_out="opacity:0;s:300;s:1000;"
          data-start="400"
        >
          <div class="sl-title">Get Everything Right</div>
          <p>
            Aenean viverra lobortis purus, sed eleifend nisl egestas in<br />Proin
            lacus augue, ornare quis nunc vel
          </p>
          <a href={% url 'Apply' %} class="cws-button border-radius"
            >Apply now <i class="fa fa-angle-double-right"></i
          ></a>
        </div>
      </li>
      <li data-masterspeed="700">
        <img
          src="{% static 'willyWeb/img/Slideshow/WEDO/Wedo-course-3.jpg'%}"
          data-bgposition="bottom center"
          alt
        />
        <div
          class="tp-caption sl-content align-left"
          data-x="['center']"
          data-hoffset="20"
          data-y="center"
          data-voffset="0"
          data-width="['720px','600px','500px','300px']"
          data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
          data-transform_out="opacity:0;s:300;s:1000;"
          data-start="400"
          
        >
          <div class="sl-title">Get Everything Right</div>
          <p>
            Aenean viverra lobortis purus, sed eleifend nisl egestas in<br />Proin
            lacus augue, ornare quis nunc vel
          </p>
          <a href={% url 'Apply' %} class="cws-button border-radius"
            >Apply now <i class="fa fa-angle-double-right"></i
          ></a>
        </div>
      </li>

      <li data-masterspeed="700" data-transition="fade">
        <img src={% static 'willyWeb/img/Slideshow/Nursery/Nur-1.jpg'%} alt>
        <div
          class="tp-caption sl-content align-center"
          data-x="right right"
          data-hoffset="0"
          data-y="top"
          data-voffset="0"
          data-width="['720px','600px','500px','300px']"
          data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
          data-transform_out="opacity:0;s:300;s:1000;"
          data-start="400"
          style ="margin-top:50px;"
        >
          <div class="sl-title">Knowledge for life</div>
          <p>
            Aenean viverra lobortis purus, sed eleifend nisl egestas in<br />Proin
            lacus augue, ornare quis nunc vel
          </p>
          <a href={% url 'Apply' %} class="cws-button border-radius"
            >Apply now <i class="fa fa-angle-double-right"></i
          ></a>
        </div>
      </li>
      <li data-masterspeed="700" data-transition="fade">
        <img
          src="{% static 'willyWeb/img/Slideshow/Vex/Vex-course-6.jpg'%}"
          data-bgposition="center center"
          alt
        />
        <div
          class="tp-caption sl-content align-left"
          data-x="['right','center','center','center']"
          data-hoffset="20"
          data-y="bottom"
          data-voffset="40"
          data-width="['720px','600px','500px','300px']"
          data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
          data-transform_out="opacity:0;s:300;s:1000;"
          data-start="400"
        >
          <div class="sl-title">Your revolution starts</div>
          <p>
            Aenean viverra lobortis purus, sed eleifend nisl egestas in<br />Proin
            lacus augue, ornare quis nunc vel
          </p>
          <a href={% url 'Apply' %} class="cws-button border-radius"
            >Apply now <i class="fa fa-angle-double-right"></i
          ></a>
        </div>
      </li>

      <li data-masterspeed="700">
        <img src={% static 'willyWeb/img/Slideshow/WEDO/Wedo-course-23.jpg'%}
        alt>
        <div
          class="tp-caption sl-content align-left"
          data-x="['left','center','center','center']"
          data-hoffset="20"
          data-y="top"
          data-voffset="0"
          data-width="['720px','600px','500px','300px']"
          data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
          data-transform_out="opacity:0;s:300;s:1000;"
          data-start="400"
          style="margin-top:50px"

        >
          <div class="sl-title">Get Everything Right</div>
          <p>
            Aenean viverra lobortis purus, sed eleifend nisl egestas in<br />Proin
            lacus augue, ornare quis nunc vel
          </p>
          <a href={% url 'Apply' %} class="cws-button border-radius"
            >Apply now <i class="fa fa-angle-double-right"></i
          ></a>
        </div>
      </li>
      <li data-masterspeed="700">
        <img src={% static 'willyWeb/img/Slideshow/WEDO/Wedo-course-1.jpg'%}
        alt>
        <div
          class="tp-caption sl-content align-left"
          data-x="['left','center','center','center']"
          data-hoffset="20"
          data-y="center"
          data-voffset="0"
          data-width="['720px','600px','500px','300px']"
          data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
          data-transform_out="opacity:0;s:300;s:1000;"
          data-start="400"
        >
          <div class="sl-title">Get Everything Right</div>
          <p>
            Aenean viverra lobortis purus, sed eleifend nisl egestas in<br />Proin
            lacus augue, ornare quis nunc vel
          </p>
          <a href={% url 'Apply' %} class="cws-button border-radius"
            >Apply now <i class="fa fa-angle-double-right"></i
          ></a>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- / revolution slider -->
<hr class="divider-color" />
<!-- content -->
<div id="home" class="page-content padding-none">
  <!-- section -->
  <section class="padding-section">
    <div class="grid-row clear-fix">
      <h2 class="center-text">Latest Courses</h2>
               <div class="category-item list clear-fix">
            <div class="picture" >
              <div class="hover-effect"></div>
              <div class="link-cont">
                <a href={% url 'course' course.id %} class="fancy fa fa-search"></a>
              </div>
              <img
                src={{ course.list_image.url}}
                data-at2x={{ course.list_image.url}}
                alt
                style="padding-bottom: 10%; padding-top: 10%"
              />
            </div>
			 <a href={% url 'course' course.id %} class="fancy">
            	<h3>{{course.name}}</h3>
			</a>
            <div>
              <div class="star-rating" title="Rated 4.50 out of 5">
                <span style="width: 100%"></span>
              </div>
              <div class="count-reviews">( reviews 10 )</div>
            </div>
            <p>{{course.short_description}}.</p>
            <div class="category-info">
              <span class="price">
                <span class="amount"> {{course.price}}<sup>L.E</sup> </span>
                <span class="description-price">per 1 month</span>
              </span>
              <div class="count-users">
                <i class="fa fa-user"></i> 5 students
              </div>
             
                     <div class="course-lector">
                <div class="lector-name">
                  <h4>{{course.teacher.name}}</h4>
                  <span>{{course.teacher.specialization}}</span>
                </div>
              </div>
            </div>
          </div>
          <!-- course item -->
          <div>
            <a href={% url 'course-list' %} style="background-color : #0d6efd; border-color:#0d6efd; color:#fff; padding:10px; margin-top:10px;"> Show more </a>
          
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / section -->

  <!-- section -->
  <!-- / section -->
  <!-- paralax section -->
  <div class="parallaxed">
    <div
      class="parallax-image"
      data-parallax-left="0.5"
      data-parallax-top="0.3"
      data-parallax-scroll-speed="0.5"
    >
      <img src="img/parallax.png" alt="" />
    </div>
    <!--Add number of course/student/Lections/events from database Monke -->
    <div class="them-mask bg-color-1"></div>
    <div class="grid-row">
      <div class="grid-col-row clear-fix">
        <div class="grid-col grid-col-3 alt">
          <div class="counter-block">
            <i class="flaticon-book1"></i>
            <div class="counter" data-count="{{coursesNum}}">0</div>
            <div class="counter-name">Courses</div>
          </div>
        </div>
        <div class="grid-col grid-col-3 alt">
          <div class="counter-block">
            <i class="flaticon-multiple"></i>
            <div class="counter" data-count="{{registerationNum}}">0</div>
            <div class="counter-name">Students</div>
          </div>
        </div>
        <div class="grid-col grid-col-3 alt">
          <div class="counter-block">
            <i class="flaticon-pencil"></i>
            <div class="counter" data-count="41">0</div>
            <div class="counter-name">Lections</div>
          </div>
        </div>
        <div class="grid-col grid-col-3 alt">
          <div class="counter-block last">
            <i class="flaticon-calendar"></i>
            <div class="counter" data-count="120">0</div>
            <div class="counter-name">Events</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="divider-color" />
  <!-- / paralax section -->
  <!-- section -->
  <section class="fullwidth-background padding-section">
    <div class="grid-row">
      <h2 class="center-text">How We Work</h2>
      <!-- time line -->
      <div class="time-line">
        <div class="line-element">
          <div class="action">
            <div class="action-block">
              <span><i class="flaticon-magnifier"></i></span>
              <div class="text">
                <h3>Search your course</h3>
                <p>
                  Search over different courses. Find the desired course, or
                  simply browse available courses for a specific subject.
                </p>
              </div>
            </div>
          </div>
          <div class="level">
            <div class="level-block">Step 1</div>
          </div>
        </div>
        <div class="line-element color-2">
          <div class="level">
            <div class="level-block">Step 2</div>
          </div>
          <div class="action">
            <div class="action-block">
              <span><i class="flaticon-computer"></i></span>
              <div class="text">
                <h3>Complete the Registration form</h3>
                <p>
                  Choose the course and open the registration form then fill it
                  by the required information.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="line-element color-3">
          <div class="action">
            <div class="action-block">
              <span><i class="flaticon-smartphone"></i></span>
              <div class="text">
                <h3>We will contact you</h3>
                <p>
                  Wait for us to contact you and inform you about the approval,
                  date of start and the time.
                </p>
              </div>
            </div>
          </div>
          <div class="level">
            <div class="level-block">Step 3</div>
          </div>
        </div>
      </div>
      <!-- / time line -->
    </div>
  </section>
  <!-- / paralax section -->
  <hr class="divider-color" />
  <!-- paralax section -->
  <section class="padding-section">
    <div class="grid-row clear-fix">
      <div class="grid-col-row">
        <div class="grid-col grid-col-6">
          <div class="boxs-tab">
            <div class="animated fadeIn active" data-box="1">
              <img
                src={% static 'willyWeb/img/Slideshow/WEDO/Wedo-course-16.jpg' %}
                data-at2x={% static 'willyWeb/img/Slideshow/WEDO/Wedo-course-16.jpg' %}
                alt
              />
            </div>
            <div class="animated fadeIn" data-box="2">
              <img
                src={% static 'willyWeb/img/Slideshow/Scratch/Scratch-course-2.jpg' %}
                data-at2x={% static 'willyWeb/img/Slideshow/Scratch/Scratch-course-2.jpg' %}
                alt
              />
            </div>
            <div class="animated fadeIn" data-box="5">
              <img
                src= {% static 'willyWeb/img/Slideshow/WEDO/Wedo-course-10.jpg' %}
                data-at2x={% static 'willyWeb/img/Slideshow/WEDO/Wedo-course-10.jpg' %}
                alt
              />
            </div>
            <div class="animated fadeIn" data-box="3">
              <img
                src={% static 'willyWeb/img/Slideshow/Nursery/Nur-4.jpg' %}
                data-at2x={% static 'willyWeb/img/Slideshow/Nursery/Nur-4.jpg' %}
                alt
              />
            </div>
            <div class="animated fadeIn" data-box="4">
              <img
                src= {% static 'willyWeb/img/Slideshow/EV3-FLL/FLL-2.jpg' %}
                data-at2x= {% static 'willyWeb/img/Slideshow/EV3-FLL/FLL-2.jpg' %}
                alt
              />
            </div>
          </div>
        </div>
        <div class="grid-col grid-col-6">
          <h2>We Offer</h2>
          <p>
            Curriculum that is provided by educational systems as vex.<br />
            we share our practical Knowledge with the students, teach to them
            how to work in a team.<br />
            Learn in a competitive way to increase the fun and the need to focus
            during the session.<br />
            Participate in different competitions to do what we learn, improve
            there skills like presentation skills and enjoy this experiment.
          </p>
          <div class="tabs-box">
            <a href="#vd" data-boxs-tab="1" class="active">Education</a>
            <a href="#dvd" data-boxs-tab="2">Knowledge</a>
            <a href="#accddvd" data-boxs-tab="5">Teamwork</a>
            <a href="#cddv" data-boxs-tab="3">Competition</a>
            <a href="#ccddv" data-boxs-tab="4">Fun</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / paralax section -->
  <hr class="divider-color" />
  <!-- paralax section -->
  <section class="fullwidth-background padding-section">
    <div class="grid-row clear-fix">
      <h2 class="center-text">About Us</h2>
      <div class="grid-col-row">
        <div class="grid-col grid-col-6">
          <h3>Why We Are Better</h3>
          <p>
            We spend more time with the students and make them build the robots
            and do programming after they learn with them selves.
          </p>
          <!-- accordions -->
          <div class="accordions">
            <!-- content-title -->
            <div class="content-title active">
              Donec sollicitudin lacus in felis luctus blandit?
            </div>
            <!--/content-title -->
            <!-- accordions content -->
            <div class="content">
              Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
              Aenean imperdiet. Etiam ultricies nisi vel augue.
            </div>
            <!--/accordions content -->
            <!-- content-title -->
            <div class="content-title">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit?
            </div>
            <!--/content-title -->
            <!-- accordions content -->
            <div class="content">
              Nullam elementum tristique risus nec pellentesque. Pellentesque
              bibendum nunc eget nunc hendrerit auctor. Cum sociis natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              Curabitur gravida urna nisl
            </div>
            <!--/accordions content -->
            <!-- content-title -->
            <div class="content-title">
              Aenean commodo ligula eget dolor. Aenean massa?
            </div>
            <!--/content-title -->
            <!-- accordions content -->
            <div class="content">
              Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
              Aenean imperdiet. Etiam ultricies nisi vel augue.
            </div>
            <!--/accordions content -->
            <!-- content-title -->
            <div class="content-title">
              Moreno gotro ja pisit amet, consectetuer adipiscing elit?
            </div>
            <!--/content-title -->
            <!-- accordions content -->
            <div class="content">
              Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
              Aenean imperdiet. Etiam ultricies nisi vel augue.
            </div>
            <!--/accordions content -->
          </div>
          <!--/accordions -->
          <a href="" class="cws-button bt-color-3 border-radius alt icon-right"
            >View Detail<i class="fa fa-angle-right"></i
          ></a>
        </div>
        <div class="grid-col grid-col-6">
          <div class="owl-carousel full-width-slider">
            <div class="gallery-item picture">
              <img
                src={% static 'willyWeb/img/Slideshow/Ninja Warriors/NW-Comp-13(C).jpg' %}
                data-at2x={% static 'willyWeb/img/Slideshow/Ninja Warriors/NW-Comp-13(C).jpg' %}
                alt
              />
            </div>
            <div class="gallery-item picture">
              <img
                src= {% static 'willyWeb/img/Slideshow/Vex/Vex Championship/Vex-comp-3.jpg' %}
                data-at2x={% static 'willyWeb/img/Slideshow/Vex/Vex Championship/Vex-comp-3.jpg' %}
                alt
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- paralax section -->
   <hr class="divider-color" />
  

  <!-- section -->
  <section class="grid-row clear-fix padding-section">
    <h2 class="center-text">Our Teachers</h2>
    <div class="grid-col-row">
      <div class="grid-col grid-col-6">
      {% for teacher in teachers %}
        <div class="item-instructor bg-color-{{forloop.counter}}">
              <a href="page-profile.html" class="instructor-avatar">
                <img
                  src={{teacher.image.url}}
                  data-at2x={{teacher.image.url}}
                  alt
                />
              </a>
          <div class="info-box">
            <h3>{{teacher.name}}</h3>
            <span class="instructor-profession">{{teacher.specialization}}</span>
            <div class="divider"></div>
            <p>
            {% if teacher.quotes != "Null" %}
              {{teacher.quotes}}
            {% endif %}
              
            </p>
            <div class="social-link">
              
                {% if teacher.facebook != "Null" %}
                      <a
                    href="{{teacher.facebook}}"
                    class="fa fa-facebook"
                  ></a>
                {% endif %}
                {% if teacher.google != "Null"  %}
                  <a href="{{teacher.google}}" class="fa fa-google-plus"></a>
                {% endif %}
                {% if teacher.twitter != "Null"  %}
                 <a href="{{teacher.google}}" class="fa fa-twitter"></a>
                 {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
      
  </section>
  <!-- / section -->
  <hr class="divider-color" />
  <!-- section -->
  <section class="padding-section">
    <div class="grid-row clear-fix">
      <div class="grid-col-row">
        <div class="grid-col grid-col-6">
          <div class="video-player">
            <iframe src="https://www.youtube.com/embed/Cqk5fLSP8tg"></iframe>
          </div>
        </div>
        <div class="grid-col grid-col-6 clear-fix">
          <h2>Learn More About Us From Video</h2>
          <p>
            Donec sollicitudin lacus in felis luctus blandit. Ut hendrerit
            mattis justo at susp. Vivamus orci urna, ornare vitae tellus in,
            condimentum imperdiet eros. Maecea accumsan, massa nec vulputate
            congue.
          </p>
          <p>
            Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
            Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
          </p>
          <br />
          <br />
          <br />
          <br />
          <!--
          <a
            href="page-about-us.html"
            class="
              cws-button
              bt-color-3
              border-radius
              alt
              icon-right
              float-right
            "
            >Watch More<i class="fa fa-angle-right"></i
          ></a>-->
        </div>
      </div>
    </div>
  </section>
  <!-- / section -->

  <!-- section -->

  <!-- / section -->
  <hr class="divider-color" />
  

</div>
<!-- / content -->

{% endblock content %}
