{% extends 'home/base.html' %}
{% load static %}
<!-- content -->
{% block content %}


<div class="page-content">
  <div class="container clear-fix">
    <div class="grid-col-row">
      <div class="grid-col grid-col-9">
        <!-- main content -->
        <main>
        
          <!-- item -->
          {% for competition in competitions %}
          {% if competition.status != "Not Available" %}
          <div class="category-item list clear-fix">
            <div class="picture" >
              <div class="hover-effect"></div>
              <div class="link-cont">
                <a href={% url 'competition' competition.id %} class="fancy fa fa-search"></a>
              </div>
              <img
                src={{ competition.list_image.url}}
                data-at2x={{ competition.list_image.url}}
                alt
                style="padding-bottom: 10%; padding-top: 10%"
              />
            </div>
			 <a href={% url 'competition' competition.id %} class="fancy">
            	<h3>{{competition.name}}</h3>
			</a>
            <div>
              <div class="star-rating" title="Rated 4.50 out of 5">
                <span style="width: 100%"></span>
              </div>
              <div class="count-reviews">( reviews 10 )</div>
            </div>
            <p>{{competition.short_description}}.</p>
            <div class="category-info">
              <span class="price">
                <span class="amount"> {{competition.fees}}<sup>L.E</sup> </span>
                <span class="description-price">per 3 month</span>
              </span>
              <div class="count-users">
                <i class="fa fa-user"></i> {{competition.student_number}} students
              </div>
              <div class="competition-lector">
                <div class="lector-name">
                  <h4>{{competition.teacher.name}}</h4>
                  <span>{{competition.teacher.specialization}}</span>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          <!-- / item -->
          {% endfor %}
        </main>
      </div>
    </div>
  </div>
</div>
<hr class="divider-color" />

 {% endblock content %}

  
