{% extends 'home/base.html' %}
{% block content %}
<!-- content -->
<div class="page-content">
  <div class="container clear-fix">
    <div class="grid-col-row">
      <div class="grid-col grid-col-9">
        <!-- main content -->
        <main>
          <section>
            <h2>{{course.name}}</h2>
            <div class="picture">
              <div class="hover-effect"></div>

              <img src={{course.cover_image.url}} data-at2x={{course.cover_image.url}} alt />
            </div>
            <!-- woocommerce tabs -->
            <!-- tabs -->
            <div class="tabs">
              <div class="block-tabs-btn clear-fix">
                <div class="tabs-btn active" data-tabs-id="tabs1">
                  Description
                </div>
                <div class="tabs-btn" data-tabs-id="tabs2">
                  Entery Requirements
                </div>
                <div class="tabs-btn" data-tabs-id="tabs3">Apply</div>
                {% if request.user.is_superuser %}
                <div class="tabs-btn" data-tabs-id="tabs4">Edit</div>
                <div class="tabs-btn" data-tabs-id="tabs5">Delete</div>
                {% endif %}
              </div>
              <!-- tabs keeper -->
              <div class="tabs-keeper">
                <!-- tabs container -->
                <div class="container-tabs active" data-tabs-id="cont-tabs1">
                  <h3>Description</h3>
                  <p>
                    {{course.long_description |linebreaks}}
                  </p>
                  <h3> </h3>

                </div>
                <!--/tabs container -->
                <!-- tabs container -->
                <div class="container-tabs" data-tabs-id="cont-tabs2">
                  <h3>Requirements</h3>
                  <p>
                  <ul class="check-list">
                    <li>Minimum age: {{course.min_age}}</li>
                    <li>
                      Maximum age: {{course.max_age}}
                    </li>
                  </ul>
                  </p>
                  <div class="columns-row">
                    <div class="columns-col columns-col-6">

                    </div>
                  </div>
                </div>
                <!--/tabs container -->
                <!-- tabs container -->
                <div class="container-tabs" data-tabs-id="cont-tabs3">
                  <h3>Apply</h3>
                  <div class="columns-row">
                    <div class="columns-col columns-col-6">
                      <a href={% url 'Apply-pk' course.id %}
                      style="margin-top:10px;"
                         class="cws-button bt-color-2 border-radius alt icon-right">Apply now</a>
                    </div>

                  </div>

                </div>
                <!--/tabs container -->
                <!-- tabs container -->
                {% if user.is_authenticated%}
                <div class="container-tabs" data-tabs-id="cont-tabs4">
                  <h3>Edit</h3>
                  <div class="columns-row">
                    <div class="columns-col columns-col-6">
                      <form action="" method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}
                        {{form}}
                        <input type="submit" name="Submit"
                          style="margin-top:10px;"
                           class="cws-button bt-color-4 border-radius alt icon-right">
                      </form>
                    </div>

                  </div>

                </div>
                <div class="container-tabs" data-tabs-id="cont-tabs5">
                  <h3>Delete</h3>
                  <div class="columns-row">
                    <div class="columns-col columns-col-6">
                      <a href={% url 'delete-course' course.id %}
                        style="margin-top:10px;"
                           class="cws-button bt-color-1 border-radius alt icon-right">Delete</a>
                    </div>

                  </div>

                </div>
                {% endif %}
                <!--/tabs container -->
              </div>
              <!--/tabs keeper -->
            </div>
            <!-- /tabs -->
          </section>
          <hr class="divider-color" />

        </main>
        <!-- / main content -->

      </div>
    </div>
  </div>
</div>
<!-- / content -->
  <hr class="divider-color" />

{% endblock content %}