# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\oOSiIiNgOo\Willy Robotics Academy\Website\WillyRoboticsAcademyDjango\WillyRoboticsAcademy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
